@page
@model FDFLodsedler.Pages.Board.VisMedlemmerModel
@{
}
<p>
    <a asp-page="/Board/AddMedlemmer"> Nyt Medlem</a>
</p>
<h1> Liste Af Medlemmer</h1>

<table class="table">
    <thead>
        <tr>
         
            <th>Navn</th>
            

        </tr>
    </thead>
    <tbody>

        @if (Model.bestyrelses != null)
        {
            @foreach (var item in Model.bestyrelses)
            {
                <tr>

                  

                    <td> @item.Navn </td>
                    

                    <td>
                        <a asp-page="/Board/SletMedlemmer" asp-route-sid="@item.Bestyrelse_Id" class="btn btn-danger m-1">Delete </a>

                    </td>

                    <td>
                        <a asp-page="/Board/OpdatereMedlemmer" asp-route-sid="@item.Bestyrelse_Id" class="btn btn-primary">Update </a>


                    </td>

                </tr>
            }
        }
</table>