@page
@model FDFLodsedler.Pages.ChildrendGroup.VisGruppeModel
@{
}
<p>
    <a asp-page="/ChildrendGroup/OpretGruppe"> Opret Gruppe</a>
</p>
<h1> Liste Af Gruppe</h1>
<div class="card-deck">



    @foreach (var l in Model.børneGruppes)
    {

            <div class="card-header">
                <h3>@l.Navn </h3>
                <div>


                </div>
                <div class="card-footer text-sm-center">
                    <a asp-page="/ChildrendGroup/SletGruppe" asp-route-sid="@l.Gruppe_Id" class="btn btn-danger m-1">Delete </a>

                    <a asp-page="/ChildrendGroup/OpdatereGruppe" asp-route-sid="@l.Gruppe_Id" class="btn btn-primary">Update </a>

                </div>

            </div>



    }

</div>
